body {
  margin: 0px;
}

.container {
  position: relative;
  height: fit-content;
  font-family: 'Roboto Mono', monospace;
  max-width: 300px;
  border-radius: 4px;
  color: #000;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  background-color: #FFF;
  border: 1px solid black;
  border-radius: 10px;
}

.img-container {
    position: relative;
    width: 180px;
    margin: 10px auto
}

.card{
  max-height: 600px;
  min-height: 600px;
}
.card-img-top {

  min-height: 150px;
  max-height: 150px;
  border-radius: 20px;
}

form {
  width: 200px;
  margin: 20px auto;
}

input {
  width: 100%;
  padding: 10px;
}

.form-control {
  width: 100%;
  border: none;
  border-radius: 10px;
  /* padding: 15px; */
  background: #696475;
  color: #fff;
  font-size: 1em;
  box-shadow: 0px 10px 40px #00000056;
  outline: none;
  box-sizing: border-box
}

#button-addon2 {
    width: 100%;
    padding: 10px 0px;
    margin-top: 10px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    color: #2b134b;
    background: #b82e24;
    cursor: pointer;
    box-shadow: 0px 8px 15px -12px #7D110E;
    transition: all 0.3s ease 0s;
}

#button-addon2:hover{
  color: #FFF;
  background: #CF1F4F;
  box-shadow: 0px 8px 15px -12px #7D110E;
}

.card-title {
  text-transform: capitalize;
  margin: 0px;
  font-size: 20px;
}



.App {
  background-color: #252428;
  text-align: center;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
